page-login {
  .sign-in {
    .form {
      &__item {
        &--invalid {
          .form__label {
            color: color($colors, danger);
          }
        }
      }
      &__error {
        color: color($colors, danger);
        padding: 10px 16px;
        text-transform: uppercase;
      }
      &__submit {
        margin: 30px 0;
      }
    }
    .create {
      &__text {
        font-size: 1.2em;
        margin-bottom: 20px;
        display: block;
      }
      &__button {
        display: block;
        margin: 10px auto;
        width: 100%;
        max-width: 250px;
        .icon {
          margin-right: 10px;
        }
        &--google {
          background-color: color($colors, danger);
          &:hover {
            background-color: color($colors, danger);
          }
        }
      }
    }
  }
}
