<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Register page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="sign-up">
  <ion-grid>
    <ion-col col-md-4 offset-md-4>
      <form class="sign-up__form form"
            (ngSubmit)="signUp()"
            [formGroup]="registerForm">
        <ion-item [ngClass]="{ 'form__item--invalid' : emailErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-label class="form__label" floating>{{ userEmail }}</ion-label>
          <ion-input class="form__input"
                     type="email"
                     formControlName="email"></ion-input>
        </ion-item>
        <div ngxErrors="email"
             #emailErrors="ngxErrors">
          <div class="form__error"
               [ngxError]="['email', 'required']"
               [when]="['touched', 'dirty']">
            {{ emailRequired }}
          </div>
        </div>
        <ion-item [ngClass]="{ 'form__item--invalid' : passwordErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-label class="form__label" floating>{{ userPassword }}</ion-label>
          <ion-input class="form__input"
                     type="password"
                     formControlName="password"></ion-input>
        </ion-item>
        <div ngxErrors="password"
             #passwordErrors="ngxErrors">
          <div class="form__error"
               [ngxError]="['password', 'required']"
               [when]="['touched', 'dirty']">
            {{ passwordRequired }}
          </div>
          <div class="form__error"
               [ngxError]="['password', 'minlength']"
               [when]="['touched', 'dirty']">
            {{ passwordMinLength + passwordErrors.getError('minlength')?.requiredLength }}
          </div>
        </div>

        <ion-item [ngClass]="{ 'form__item--invalid' : registerForm.errors?.doesMatchPassword || confirmPasswordErrors.hasError('*', ['touched', 'dirty']) || registerForm.controls.confirmPassword.errors?.required && registerForm.controls.confirmPassword.touched}">
          <ion-label class="form__label" floating>{{ userPasswordConfirm }}</ion-label>
          <ion-input class="form__input" type="password"
                     formControlName="confirmPassword"></ion-input>
        </ion-item>
        <div ngxErrors="confirmPassword"
             #confirmPasswordErrors="ngxErrors">
          <div class="form__error"
               [ngxError]="['confirmPassword', 'required']"
               [when]="['touched', 'dirty']">
            {{ passwordRequired }}
          </div>
          <div class="form__error"
               [ngxError]="['confirmPassword', 'minlength']"
               [when]="['touched', 'dirty']">
            {{ passwordMinLength + confirmPasswordErrors.getError('minlength')?.requiredLength }}
          </div>
        </div>
        <div class="form__error"
             *ngIf="registerForm.controls.confirmPassword.errors?.required && registerForm.controls.confirmPassword.touched">
          {{ passwordConfirmRequired }}
        </div>
        <div class="form__error"
             *ngIf="registerForm.errors?.doesMatchPassword">
          {{ passwordNotMatch }}
        </div>
        <div class="form__error"
             *ngIf="registerError" >
          {{ registerError }}
        </div>
        <div class="form__error form__error--background">
          Some error
        </div>

        <button class="form__submit" ion-button type="submit" block
                [disabled]="!registerForm.valid">
          {{ submitButtonText }}
        </button>
      </form>
      <div class="sign-up__create create" text-center>
        <span class="create__text">
          {{ goToLoginText }}
        </span>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>
