page-shop-list-details {
  .shop-list {
    h2 {
      padding: 15px;
      text-align: center;
    }
    .list {
      &__item {
        .label-md {
          display: flex;
          justify-content: space-between;
        }
        .item {
          &__quantity {
            color: color($colors, grey);
            width: 20px;
            position: relative;
            margin-right: 10px;
            &:after {
              content: '';
              display: block;
              height: 100%;
              width: 1px;
              background-color: color($colors, grey);
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          &__label {
            width: 100%;
            &:hover {
              cursor: pointer;
            }
          }
          &__trash {
            transition: .3s;
            color: color($colors, grey);
            &:hover {
              color: color($colors, danger);
              cursor: pointer;
            }
          }
        }
        &--complete {
          .item {
            &__label {
              font-style: italic;
              text-decoration: line-through;
              color: color($colors, grey);
            }
          }
        }
      }
    }
  }
}
