<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Shop list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-10 offset-md-1 col-sm-12>
        <ion-list>
          <ion-row>
            <ion-col col-lg-3 col-md-6 col-sm-12 (click)="openShopList(list, i)"
              *ngFor="let list of shopLists; let i = index"
              [ngClass]="{'complete' : list.isComplete}">
              <ion-item>
                {{ list.listName }}
                <span *ngIf="list.products">
                  {{ list.products.length }}
                </span>
                <div class="create-date">
                  Created: {{ list.createDate }}
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="primary"
            (click)="createNewShopList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
