page-home {
  .item-block {
    position: relative;
    border: 0;
    &:hover {
      cursor: pointer;
      background-color: color($colors, primary);
      color: color($colors, light);
      font-weight: 600;
      .item-inner {
        border: 0;
      }
    }
    span {
      float: right;
    }
    .create-date {
      font-size: .8em;
      font-style: italic;
      margin-top: 5px;
    }
  }
}
