page-new-item {
  .new-item {
    .form {
      &__label {
        line-height: 2.2em;
      }
      .label {
        display: flex;
        justify-content: space-between;
      }
      .item {
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
      .quantity {
        width: 50%;
        background-color: color($colors, primary);
        height: 100%;
        border: 2px solid color($colors, primary);
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        line-height: 1.2em;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .icon {
          color: color($colors, light);
          padding: 5px;
          width: 30px;
          text-align: center;
          vertical-align: middle;
          &:hover {
            cursor: pointer;
          }
        }
        span {
          text-align: center;
          width: 100%;
          padding: 5px;
          background-color: color($colors, light);
        }
      }
    }
  }
}
